@include b(popover) {
  width: 450px !important;
  padding: 0 0 28px 0 !important;

  @include e(title) {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: calc((30 * 2 + 18) / 18)
  }

  @include e(search) {
    padding: 0 20px 20px;
    overflow: hidden;
    display: flex;
    align-items:center;
    @include m(keyword) {
      flex: 1;
    }
    @include m(btn) {
      margin-left: 15px;
    }
  }

  @include e(empty) {
    color: #9aaac0;
    margin-top: 70px;
    @include m(icon) {
      width: 70px;
      height: 73px;
      background-size: cover;
      margin: 0 auto 28px;
    }
    @include m(text) {
      font-size: 14px;
      line-height: 1;
      padding-bottom: 69px;
    }
  }

  @include e(control) {
    margin: 10px 20px 20px 0;
    .el-button {
      float: right;
    }
  }

  @include e(list) {
    list-style: none;
    padding: 0;
    @include m(item) {
      padding: 9px 100px 9px 23px;
      position: relative;
      &:hover {
        background-color: #ecf0f5;
      }
    }

    @include m(radio) {
      width: 100%;
      @include ellipsis(1);
      display: block;
      overflow: hidden;
      font-weight: normal;
    }

    @include m(default) {
      cursor: pointer;
      width: 80px;
      position: absolute;
      top: 0;
      right: 0;
      color: #e4e8f1;
      @include when(active) {
        color: #ac9456;
      }
    }
  }

  @include e(pagination) {
    display: flex;
    align-items:center;
    padding: 18px 15px 0;
    @include m(total) {
      flex: 1;
      color: #8792a4;
      font-size: 13px;
      padding-left: 10px;
    }
  }

}
