@font-face {
  font-family: "iconfont"; /* Project id 4645012 */
  src: url('//at.alicdn.com/t/c/font_4645012_0ixnutgsfc2c.woff2?t=1723623761856') format('woff2'),
       url('//at.alicdn.com/t/c/font_4645012_0ixnutgsfc2c.woff?t=1723623761856') format('woff'),
       url('//at.alicdn.com/t/c/font_4645012_0ixnutgsfc2c.ttf?t=1723623761856') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchengxuanzhong:before {
  content: "\e79d";
}

.icon-shangchengweixuanzhong:before {
  content: "\e79c";
}

.icon-dingdanweixuanzhong:before {
  content: "\e743";
}

.icon-gouwucheweixuanzhong:before {
  content: "\e76e";
}

.icon-gouwuchexuanzhong:before {
  content: "\e76d";
}

.icon-diancanxuanzhong:before {
  content: "\e795";
}

.icon-diancanweixuanzhong:before {
  content: "\e794";
}

.icon-dingdanxuanzhong:before {
  content: "\e748";
}

.icon-wodexuanzhong:before {
  content: "\e747";
}

.icon-shouyexuanzhong:before {
  content: "\e746";
}

.icon-shouyeweixuanzhong:before {
  content: "\e745";
}

.icon-wodeweixuanzhong:before {
  content: "\e744";
}
